In [2]:
import pandas as pd
import numpy as np

# Creating a panda series

In [3]:
sample=pd.Series(data=[30,6,"yes","no"],index=["eggs","apples","milk","bread"])
marks=pd.Series(data=[78,45,66,89],index=["English","Hindi","Urdu","Maths"])
print(sample)
print(marks)

eggs       30
apples      6
milk      yes
bread      no
dtype: object
English    78
Hindi      45
Urdu       66
Maths      89
dtype: int64

# Functions to get information from panda series

In [4]:
marks=pd.Series(data=[78,45,66,89],index=["English","Hindi","Urdu","Maths"])
print(f" shape (Dimension) = {marks.shape}")
print(f" Number of Dimensions = {marks.ndim}")
print(f" Number of Elements = {marks.size}")
print(f" Indexes are = {marks.index}")
print(f" Values are = {marks.values}")
# used to check if WT is present in marks as index
print("WT" in marks)
print("Hindi" in marks)

 shape (Dimension) = (4,)
 Number of Dimensions = 1
 Number of Elements = 4
 Indexes are = Index(['English', 'Hindi', 'Urdu', 'Maths'], dtype='object')
 Values are = [78 45 66 89]
False
True

# Accessing and Modifying Elements of pandas series

In [5]:
marks=pd.Series(data=[78,45,66,89],index=["English","Hindi","Urdu","Maths"])
# panda series can be accessed using provided indexes or from numeric indexes
print(f"Using labled indexes",marks["English"])
print(f"Using numeric indexes",marks[0])
print(f"Using labled indexes to get multiple data items\n",marks[["English","Hindi"]])
print(f"Using numeric indexes to get multiple data items\n",marks[[0,1]])
# loc is used to explicitly show that we are accessing element using labled index
print("using loc \n ", marks.loc[["English"]])
# iloc is used to explicitly show that we are accessing element using numeric index
print("using iloc \n ", marks.iloc[[0,1]])

Using labled indexes 78
Using numeric indexes 78
Using labled indexes to get multiple data items
 English    78
Hindi      45
dtype: int64
Using numeric indexes to get multiple data items
 English    78
Hindi      45
dtype: int64
using loc
  English    78
dtype: int64
using iloc
  English    78
Hindi      45
dtype: int64

In [6]:
marks["English"]=12
marks[1]=22
print(marks)

English    12
Hindi      22
Urdu       66
Maths      89
dtype: int64

# Deleting Elements from panda series

In [7]:
# Does Not change actual series variable only returns a copy of deleted series
temp=marks.drop(["English"])
print(temp)
print(marks)

Hindi    22
Urdu     66
Maths    89
dtype: int64
English    12
Hindi      22
Urdu       66
Maths      89
dtype: int64

In [8]:
marks=pd.Series(data=[78,45,66,89],index=["English","Hindi","Urdu","Maths"])
# while using inplace it changes the orignal variable and returns none
temp=marks.drop(["English"],inplace=True)
print(marks)

Hindi    45
Urdu     66
Maths    89
dtype: int64

# Arithmetic Operations on Series

In [9]:
fruits=pd.Series([10,20,30],[["Apple","Mango","Orange"]])   
print(fruits)
print("fruits+2\n\n",fruits+2)
print("fruits-2\n\n",fruits-2)
print("fruits*2\n\n",fruits*2)
print("fruits/2\n\n",fruits/2)

Apple     10
Mango     20
Orange    30
dtype: int64
fruits+2

 Apple     12
Mango     22
Orange    32
dtype: int64
fruits-2

 Apple      8
Mango     18
Orange    28
dtype: int64
fruits*2

 Apple     20
Mango     40
Orange    60
dtype: int64
fruits/2

 Apple      5.0
Mango     10.0
Orange    15.0
dtype: float64

# Numpy and Pandas

In [10]:
print("Power Function\n",np.power(fruits,2))
print("Sauare Root Function\n",np.sqrt(fruits))

Power Function
 Apple     100
Mango     400
Orange    900
dtype: int64
Sauare Root Function
 Apple     3.162278
Mango     4.472136
Orange    5.477226
dtype: float64

In [11]:
fruits=pd.Series([10,20,30],[["Apple","Mango","Orange"]])   
print(fruits["Apple"]+2)
print(fruits.iloc[1]-5)
print(fruits[["Apple","Orange"]]*3)
print(fruits.loc[["Apple","Orange"]]/3)
print(fruits)
# if the operation is defined for all the data types in elements it can be performed otherwise an error will occour

12
15
Apple     30
Orange    90
dtype: int64
Apple      3.333333
Orange    10.000000
dtype: float64
Apple     10
Mango     20
Orange    30
dtype: int64

# Planets Quiz

In [12]:
distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]
planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']
dist_planets =pd.Series(data=distance_from_sun,index=planets)
time=dist_planets /18
close_planets = time[time<=40]
close_planets

Earth     8.311111
Mars     12.661111
Venus     6.011111
dtype: float64

In [24]:
names=["alpha","beta","charlie","delta"]
alphabets=np.array(["a","b","c","d"])
AlphaSeries=pd.Series(data=names,index=alphabets)
print(AlphaSeries["a"])
print(AlphaSeries[0])

alpha
alpha

In [26]:
AlphaSeries["a"]="alphaNew"
print(AlphaSeries)

a    alphaNew
b        beta
c     charlie
d       delta
dtype: object